<%- include('_layout/header'); -%>

<div class="text-center">
  <h3>Please sign in to continue...</h3>
  <br />
  <a href="/users/login/student" class="btn btn-primary">Student Login</a>
  <a href="/users/login/teacher" class="btn btn-primary">Teacher Login</a>

  <hr />
  or <a href="/users/register">sign up</a>
</div>

<%- include('_layout/footer'); -%>