<%- include('../_layout/header'); %>

<h3 class="text-center">User Registration</h3>

<hr />

<div class="row">
  <div class="col-sm-12 col-md-4 offset-md-4">
    <% if (locals.error) { %>
      <div class="alert alert-danger alert-dismissible fade show" id="message" role="alert">
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" id="close" aria-label="Close"></button>
      </div>
    <% } %>
    <form method="post">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input name="name" id="name" class="form-control" required autofocus />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input name="email" id="email" type="email" class="form-control" required />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input name="password" id="password" type="password" class="form-control" required />
      </div>

      <div class="mb-3">
        <label for="role" class="form-label">Account Type</label>
        <select class="form-select" name="role" id="role">
          <option value="student" selected>Student</option>
          <option value="teacher">Teacher</option>
        </select>
      </div>

      <div class="pt-2 d-grid gap-2">
        <button class="btn btn-success" type="submit">Register Account</button>
      </div>

    </form>
  </div>
</div>

<script src="/javascript/dismissAlert.js"></script>

<%- include('../_layout/footer'); %>